<div class="container">
<div class="jumbotron">
   
  

  <% if current_user.present? %>
  <p>Welcome <%= current_user.email %></p>
  
  <button type="button" class="btn btn-default" >
  
  	<%= link_to 'Log Out', destroy_user_session_path, :method => :delete %>
  </button>
  
  <button type="button" class="btn btn-default" >
   <%= link_to 'My Universities Data', controller: 'universities' %>

</button>

<% else %>
  <p>You are not signed in.</p>
  <%= link_to 'Login', new_user_session_path %>
<% end %>

  
</div></div>



 
 
