<%= form_for @student, :html => { :class => "form-horizontal student" } do |f| %>

    <% if @student.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @student.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :sid, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sid, :class => 'form-control' %>
    </div>
    <%= error_span(@student[:sid]) %>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@student[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :age, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :age, :class => 'form-control' %>
    </div>
    <%= error_span(@student[:age]) %>
  </div>
  <div class="control-group">
    <%= f.label :photo_file_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :photo_file_name, :class => 'form-control' %>
    </div>
    <%= error_span(@student[:photo_file_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :photo_content_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :photo_content_type, :class => 'form-control' %>
    </div>
    <%= error_span(@student[:photo_content_type]) %>
  </div>
  <div class="control-group">
    <%= f.label :photo_file_size, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :photo_file_size, :class => 'form-control' %>
    </div>
    <%= error_span(@student[:photo_file_size]) %>
  </div>
  <div class="control-group">
    <%= f.label :photo_updated_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :photo_updated_at, :class => 'form-control' %>
    </div>
    <%= error_span(@student[:photo_updated_at]) %>
  </div>
  <div class="control-group">
    <%= f.label :universities_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :universities_id, :class => 'form-control' %>
    </div>
    <%= error_span(@student[:universities_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :university_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :university_id, :class => 'form-control' %>
    </div>
    <%= error_span(@student[:university_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            students_path, :class => 'btn btn-default' %>

<% end %>
