<%- model_class = Student -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:sid) %>:</strong></dt>
  <dd><%= @student.sid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @student.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:age) %>:</strong></dt>
  <dd><%= @student.age %></dd>
  <dt><strong><%= model_class.human_attribute_name(:photo_file_name) %>:</strong></dt>
  <dd><%= @student.photo_file_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:photo_content_type) %>:</strong></dt>
  <dd><%= @student.photo_content_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:photo_file_size) %>:</strong></dt>
  <dd><%= @student.photo_file_size %></dd>
  <dt><strong><%= model_class.human_attribute_name(:photo_updated_at) %>:</strong></dt>
  <dd><%= @student.photo_updated_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:universities_id) %>:</strong></dt>
  <dd><%= @student.universities_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:university_id) %>:</strong></dt>
  <dd><%= @student.university_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              students_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_student_path(@student), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              student_path(@student),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
