
<div class="container"> 

<div class= "jumbotron">
  <h2>Log in</h2>

  </div>

<div class="form-horizontal" >
   <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
    
  <div class="field">
     
    <%= f.email_field :email, autofocus: true %>
  </div>
    </div>
  </div>

<div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
        <div class="field">
     
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

    </div>
  </div>

<div class="form-group">

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>

<% end %>
</div>
<%= render "devise/shared/links" %>
</div>