
<div class="container">
<div class="jumbotron">
   
 <h1>   Listing Available Universities</h1>
  
</div>

<%- model_class = University -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:uid) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @university.each do |university| %>
      <tr>
        <td><%= university.id %></td>
        <td><%= university.uid %></td>
        <td><%= link_to  university.name, university_path(university) %></td>
        <td><%= university.location %></td>
        <td><%=l university.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_university_path(university), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      university_path(university),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_university_path,
            :class => 'btn btn-primary' %>

            <%= link_to t('/', :default => t("helpers.links.back")),
             admins_admin_view_path,
            :class => 'btn btn-primary' %>

</div>

