
<div class="container">
<div class="jumbotron">
   
  <p>



<%- model_class = University -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:uid) %>:</strong></dt>
  <dd><%= @university.uid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @university.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:location) %>:</strong></dt>
  <dd><%= @university.location %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              universities_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_university_path(@university), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              university_path(@university),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %> 

              </p>
</div>
<hr/>


<hr/>


 

<%- model_class = Student -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:sid) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:age) %></th>
      <th><%= model_class.human_attribute_name(:photo_file_name) %></th>
       <th>Actions</th>
        
    </tr>
  </thead>
  <tbody>
    <% @university.students.each do |student| %>
      <tr>
        <td><%= student.id  %></td>
        <td><%= student.sid %></td>
        <td><%= student.name %></td>
        <td><%= student.age %></td>
        <td><img width=70px height=50px src=" <%=student.photo.url %>"/></td> 
          
           <td type="button" class="btn btn-default" style="margin:5px"> 
         <%= link_to 'Delete Record', [student.university, student],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
        </td>
   
  
      </tr>
    <% end %>
  </tbody>
</table>
 


 

<h2>Add a Student:</h2>

 <div class="col-sm-4">

<%= form_for([@university, @university.students.build], :html => { :multipart => true }, :class => "form-horizontal", :role => "form") do |f|  
 %>
  <p class="form-group">
    <%= f.label :Student_ID %><br>
    <%= f.text_field :sid , :class => "form-control"%>
  </p>
  <p class="form-group">
    <%= f.label :Student_Name %><br>
    <%= f.text_area :name , :class => "form-control"%>
  </p>

  <p class="form-group"> 
    <%= f.label :Student_Age %><br>
    <%= f.text_area :age  , :class => "form-control"%>
  </p>

  <p class="form-group">
    <%= f.label :Student_Photo %><br>
    <%= f.file_field :photo , :class => "form-control"%>

  </p>
 <button type="submit" class="btn btn-default">Create </button> 
     
  
<% end %>

   </div>
</div>